.mashine {
    padding: 50px 0;

    &__title {
        margin-bottom: 30px;

        /*Big Mobile*/
        @media (max-width: 899px) {
            font-size: 40px;
        }
    }

    &__inner {
        display: flex;

        /*Big Mobile*/
        @media (max-width: 899px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__text p:last-of-type {
        margin-bottom: 40px
    }

    &__descr {
        color: #6F6F6F;
        padding-bottom: 20px;

        &-strong {
            color: #141313;
            font-weight: 700;
        }
    }

    &__img {
        width: 500px;
        height: 500px;
        object-fit: cover;
        border-radius: 25%;

        /*XS Mobile*/
        @media (max-width: 599px) {
            width: 290px;
            height: 290px;

        }
    }

    &__btn {

        /*Big Mobile*/
        @media (max-width: 899px) {
            margin-bottom: 40px;
        }
    }
}