.news {
    margin-bottom: 70px;

    /*Mobile*/
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        /*Mobile*/
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__item {
        background-color: #1c1a1a;
        width: 350px;
        color: #fff;

        /*Tablet*/
        @media (max-width: 1139px) {
            width: 250px;
        }

        /*Big Mobile*/
        @media (max-width: 899px) {
            width: 220px;
        }

        /*Mobile*/
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__img {
        width: 100%;
        height: 309px;
        object-fit: cover;

        /*Tablet*/
        @media (max-width: 1139px) {
            height: 215px;
        }

        /*Mobile*/
        @media (max-width: 767px) {
            height: 309px;

        }
    }

    &__descr {
        padding: 20px 27px;
    }

    &__date {
        margin-bottom: 10px;
    }

    &__by {
        color: $accent-color;
    }

    &__text {
        font-family: "Zcool";
        margin-bottom: 15px;
    }

    &__link {
        font-weight: 300;
        color: $accent-color;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 17px;
            height: 9px;
            background-image: url("./../images/news/arrow.svg");
            right: -30px;
            top: 50%;
            transform: translateY(-70%);
        }
    }
}