.header {
    background-color: #f4f1ee;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__text {
        max-width: 646px;
    }

    &__title {
        margin-bottom: 33px;
    }

    &__descr {
        max-width: 500px;
        font-size: 18px;
        margin-bottom: 55px;
    }

    &__img {
        width: 375px;
        height: 375px;
        object-fit: cover;
        flex-shrink: 0;
    }
}

.nav {
    &__menu {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Montserrat";
        font-weight: 600;
    }

    &__item {
        padding: 0 3px 0px;
        border-bottom: 2px solid transparent;
        transition: color ease-in .2s, border ease-in .2s;

        &:hover {
            color: #e09446;
            border-bottom: 2px solid $hover-color;
        }

        &-logo {
            &:hover {
                border-bottom: 2px solid transparent;
            }
        }
    }
}