.header {
    background-color: #f4f1ee;

    &__inner {
        display: flex;
        align-items: center;
        padding-bottom: 50px;

        @media (max-width: 899px) {
            align-items: flex-start;
        }
    }

    &__text {
        max-width: 646px;
    }

    &__title {
        margin-bottom: 33px;

        @media (max-width: 899px) {
            font-size: 32px;
            margin-bottom: 25px;
        }
    }

    &__descr {
        max-width: 500px;
        font-size: 18px;
        margin-bottom: 55px;
    }

    &__img {
        width: 375px;
        height: 375px;
        object-fit: cover;
        flex-shrink: 0;

        @media (max-width: 767px) {
            width: 250px;
            height: 250px;
        }

        /*XS Mobile*/
        @media (max-width: 599px) {
            display: none;
        }
    }
}

.nav {

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        padding: 15px 0;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
        font-family: "Montserrat";
        font-weight: 600;

        @media (max-width: 899px) {
            padding: 10px 0 0;
            column-gap: 25px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__item {
        padding: 0 3px 0px;
        border-bottom: 2px solid transparent;
        transition: color ease-in .2s, border ease-in .2s;

        &:hover {
            color: #e09446;
            border-bottom: 2px solid $hover-color;
        }
    }
}

.nav {
    &__adaptive {
        display: none;
        transition: transform ease-in .2s;

        @media (max-width: 767px) {
            padding-top: 30px;
            display: block;
            position: fixed;
            background-color: #000000;
            color: #fff;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            column-gap: 50px;
            text-align: center;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        &-link {
            transition: color ease-in .2s;
            font-weight: 600;

            &:hover {
                color: $accent-color;
            }
        }
    }
}

.burger {
    display: none;
    transition: stroke ease-in .2s;

    /*Mobile*/
    @media (max-width: 767px) {
        display: block;
        cursor: pointer;
    }
}

.logo {
    width: 65px;
    height: 53px;
}

.hidden {
    transform: translateX(100%);
}

.close {
    position: absolute;
    right: 15px;
    top: 30px;

    &__img {
        width: 25px;
        height: 25px;
    }
}