@font-face {
    font-family: "Oxygen";
    src: url("./../fonts/Oxygen-Regular.woff"), url("./../fonts/Oxygen-Regular.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Oxygen";
    src: url("./../fonts/Oxygen-Bold.woff"), url("./../fonts/Oxygen-Bold.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Zcool";
    src: url("./../fonts/ZCOOLXiaoWei-Regular.woff"), url("./../fonts/ZCOOLXiaoWei-Regular.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}